name: UnitTests

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/unittests.yml'
      - 'tests/**'
      - '**/*.lua'

  pull_request:
    paths:
      - '.github/workflows/unittests.yml'
      - 'tests/**'
      - '**/*.lua'

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install premake5
      uses: Jarod42/install-premake5@v6
    - name: Update Ubuntu packages list
      run: sudo apt-get update -y
    - name: Install ninja
      run: |
        sudo apt-get install -y ninja-build
    - name: Versions
      run: |
        python --version
        premake5 --version
        ninja --version
    - name: Run tests
      run: cd tests && python run_tests.py
  windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install premake5
      uses: Jarod42/install-premake5@v6
    - name: Install ninja
      uses: seanmiddleditch/gha-setup-ninja@v6
    - name: Versions
      run: |
        python --version
        premake5 --version
        ninja --version
    - name: Add cl.exe to PATH
      uses: ilammy/msvc-dev-cmd@v1
    - name: Run tests
      run: cd tests && python run_tests.py
      shell: bash
  macos:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install premake5
      uses: Jarod42/install-premake5@v6
    - name: Install ninja
      uses: seanmiddleditch/gha-setup-ninja@v6
    - name: Versions
      run: |
        python --version
        premake5 --version
        ninja --version
    - name: Run tests
      run: cd tests && python run_tests.py
